@{
    ViewBag.Title = "About me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>My name is Devin Ruff. I am a senior MIS and Business Analytics major at Ohio University. 
    I am from Columbus, Ohio. In my free time at school I help coach the varsity soccer team at Alexander High School. 
    Upon Graduation, I am moving to Boston to work as an Associate Analyst in Strategic Workforce Planning at National Grid.</p>
