@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    426 Emory St.<br />
    Columbus, OH 43230<br />
    <abbr title="Phone">P:</abbr>
    (614) 551-7740
</address>

<address>
    <strong>Email Address:</strong>   <a href="mailto:DR874115@ohio.edu">DR874115@ohio.edu</a><br />
</address>