@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Connect with Devin Ruff</h1>
    <p class="lead">Learn more about me! Feel free to connect with me on LinkedIn.</p>
    <p><a href="https://www.linkedin.com/in/devinruff/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Past</h2>
        <p>
            I grew up in Gahanna, Ohio and went to Gahnana Lincoln High School. There, I was the captain of the soccer team and particpated in DECA. To learn more about where I come from, my high school's website is linked below.
        </p>
        <p><a class="btn btn-default" href="https://www.gahannaschools.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Present</h2>
        <p>I am a senior MIS and Business Analytics major at Ohio University. In my spare time, I help coach the Alexander High School boys soccer team.</p>
        <p><a class="btn btn-default" href="https://www.ohio.edu">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future</h2>
        <p>After graduation, I will be moving to Boston, Massachussetts to work as an Associate Analyst in Strategic Workforce Planning at National Grid. Below is a link to learn more about the company I will be working for.</p>
        <p><a class="btn btn-default" href="https://www.nationalgridus.com/Our-Company/">Learn more &raquo;</a></p>
    </div>
</div>